@charset "UTF-8";

/* 重置元素属性与公共样式
 ********************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea {
  border: none;
  touch-action: manipulation;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  /*padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);*/
  /*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
  line-height: 1;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222938;
  background-color: #fff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrolling-touch {
  /* 使移动端滚动流畅 */
  -webkit-overflow-scrolling: touch;
}

.block__clear-both::before,
.block__clear-both::after {
  content: '';
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}

.block__clear-both::after {
  clear: both;
}

.block__confirm-btn{
  display: block;
  width: 311px;
  height: 49px;
  margin: 51px auto;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(left, #ffd74b 0%, #ffb93f 100%);
  box-shadow: 0 5px 11px 0 rgba(255, 186, 63, .34);
}

.block__confirm-btn--absolute {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 51px;
  left: 0;
  margin: 0 auto;
}

/* app内容
  ********************/
[v-cloak] {
  display: none;
}

#app {
  position: relative;
  display: block;
  width: 100%;
  max-width: 720Px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;
}

.page-padding {
  padding: 0 15px;
}

.nav-bar {
  height: 44px;
  line-height: 44px;
}

.menu-tab {
  height: 50px;
}

.nav-bar .nav-bar__icon-left {
  vertical-align: middle;
  width: 9px;
  height: 17px;
}

.nav-bar .nav-bar__icon-right {
  vertical-align: middle;
  width: 19px;
  height: 20px;
}

/* 重写组件样式
 ********************/

.nav-bar .van-nav-bar,
.menu-tab .van-tabbar {
  /* 顶部导航和底部menu的z-index设为100 */
  z-index: 100;
}

.nav-bar .van-nav-bar__left,
.nav-bar .van-nav-bar__right {
  top: 0;
}

.nav-bar .van-nav-bar__title {
  font-size: 20px;
  font-weight: 500;
}

.nav-bar .van-icon-arrow-left {
  font-size: 18px;
  font-weight: 500;
}

.nav-bar .van-icon-search {
  font-size: 20px;
  font-weight: 500;
}

.van-nav-bar .van-icon,
.van-nav-bar__text {
  color: inherit;
}

.menu-tab .van-tabbar-item {
  color: #bbb;
}

.menu-tab .van-tabbar-item--active {
  color: #000;
}

.van-modal {
  z-index: 2000 !important;
}

.van-dialog {
  width: 270px;
  border-radius: 7px;
}

.van-dialog__header {
  font-size: 18px;
  color: #000;
}

.van-dialog__message--has-title {
  font-size: 15px;
  color: #888;
}

.van-dialog .van-button {
  font-size: 18px;
}

.van-dialog .van-dialog__confirm,
.van-dialog .van-dialog__confirm:active {
  color: #8190fe;
}

.van-pull-refresh,
.van-pull-refresh__track {
  height: 100%;
  overflow: auto;
}

.no-data-text {
  font-size: 0.37333rem;
  height: 1rem;
  line-height: 1rem;
}
